html, body, main {
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: #fff;
  font-family: 'Fira Sans', sans-serif;
  overflow: hidden
}

.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background: url('../img/loading.gif') 50% 50% no-repeat white;
  opacity: 1;
}

#map {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  /* z-index: 1000 !important; */
  left: 0;
  right: 0;
  margin: 0;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden
}

.leaflet-control-layers {
  color: white !important;
  padding: 6px 8px;
  border: none !important;
  background: #343a40 !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
  border-radius: 0px !important;
  position: static;
  z-index: 1000;
  opacity: 0.8;
  /* width: 100%; */
}

.leaflet-control-zoom, .leaflet-control-zoom-in, .leaflet-control-zoom-out {
  color: #333333 !important;
  padding: 0px !important;
  background-color: transparent;
  border: none !important;
  background: rgba(225, 225, 225, 0.5) !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
  border-radius: 0px !important;
}

.btn {
  color: #fff;
  border-color: rgba(0, 0, 0, 0);
  margin-bottom: -30px;
}

.btn:hover {
  color: #fff;
  font-weight: bold;
  font-style: italic;
}

.btn p {
  font-size: 12px;
}

#disclaimer-close {
    margin-bottom: 0px;
}

.img-thumbnail {
  padding: 0rem;
  background-color: #343a40;
  border: .5px solid #343a40;
  border-radius: 3px;
  width: 50px;
  height: 50px;
}

#disclaimer {
  color: #343a40;
}

.c3-gauge-value {
  font-family: 'Fira Sans', sans-serif;
  fill: white !important;
}

#info {
  position: absolute;
  width: 480px;
  top: 1%;
  bottom: 1%;
  left: .5%;
  z-index: 1000;
  background: #343a40;
  color: white;
  opacity: 1;
  padding: 40px 15px 20px 15px;
}

#title {
  margin-bottom: 30px;
  font-size: 25px;
   font-family: 'Oswald', sans-serif;
}

#title span {
  font-size: 14px;
  float: right;
}

#info .step {
  margin-top: 10px;
  margin-bottom: 30px;
}

#info .step p {
  line-height: 28px;
  font-family: 'Fira Sans', sans-serif;
}

#info .result {
  margin-top: 10px;
  margin-bottom: 30px;
}

#info .result p {
  font-size: 20px;
  line-height: 30px;
  font-family: 'Oswald', sans-serif;
}

span {
  margin-right: 10px
}

#info a {
  color: white;
}

#info a:hover {
  color: white;
  opacity: 0.3;
}

#info input {
  position: relative;
  float: right;
  width: 25%;
  color: white;
  background-color: grey;
  border: 1px solid grey;
  padding: 5px;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 14px;
  border-radius: 3px;
  line-height: 20px;
}

#info .custom-select {
  position: relative;
  float: right;
  width: 25%;
  color: white;
  margin-left: 10px;
  margin-right: 20px;
  background-color: grey;
  border: 1px solid grey;
  padding: 5px;
}


ul {
  list-style-type: none;
  height: 10px;
}

li {
  float: left;
  margin-right: 2px;
}

.logo-thumbnail {
  bottom: 1%;
  border-radius: 3px;
  max-height: 25px;
  opacity: 0.8;
}
